auto-save-list/*
el-get/*
elpa/*
transient/*
var/*
*.elc
.emacs.desktop
.emacs.desktop.lock
bookmarks
custom.el
history
projectile-bookmarks.eld
recentf
.lsp-session-v1
kkcrc
projectile-bookmarks.eld
tramp
url
