name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    # Every day at 00:00 UTC
    - cron: '0 0 */7 * *'

jobs:
  set-matrix:
    runs-on: ubuntu-24.04
    outputs:
      tests: ${{ steps.set-matrix.outputs.tests }}
    steps:
      - uses: actions/checkout@v3
      - name: Set matrix
        id: set-matrix
        run: |
          .github/workflows/scripts/ci_matrix | jq -C
          echo "tests=$(.github/workflows/scripts/ci_matrix | jq --compact-output)" >> "$GITHUB_OUTPUT"
        shell: bash

  test:
    name: ${{ matrix.tests.name }}
    needs: set-matrix
    strategy:
      fail-fast: false
      matrix:
        tests: ${{ fromJSON(needs.set-matrix.outputs.tests) }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Run test
        run: |
          echo "Running test for ${{ matrix.tests.name }}"
          ${{ matrix.tests.command }}
        shell: bash

  ci-complete:
    needs: test
    runs-on: ubuntu-24.04
    if: always()
    steps:
      - name: Check if all jobs succeeded
        run: |
          if ${{ needs.test.result == 'success' }}; then
            echo "All jobs succeeded"
          else
            echo "Some jobs failed"
            exit 1
          fi
